@use "../../../presets/skin" as *;
@use "../../../presets/variables" as *;


.skills {

&__container {
  display: grid;
  grid-template-areas: "a1 a1 a2 a3" "a4 a5 a5 a6" "a7 a8 a9 a6";
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 33vh ;
  gap: $gap-sm;
}
   
}
