@use '../../mixins' as *;
@use '../../presets' as *;

.posts {
  @include lg-min {
    padding: 100px 0;
  }
  @include lg-md {
    padding: 80px 0;
  }
  @include md {
    padding: 60px 0;
  }
  &__container {
    @extend %container;
  }
  &__grid {
    display: grid;

    padding-bottom: 20px; //!!!

    gap: $gap;
    @include lg-min {
      grid-template-areas:
        'p1 p1 p2 p3'
        'p4 p5 p6 p6';
      grid-template-columns: repeat(4, 1fr);
    }
    @include lg-md {
      grid-template-areas:
        'p1 p1 p2'
        'p3 p4 p4'
        'p5 p5 p6';
      grid-template-columns: repeat(3, 1fr);
    }
    @include md-sm {
      grid-template-areas:
        'p1 p2'
        'p3 p4'
        'p5 p6';
      grid-template-columns: repeat(2, 1fr);
    }
    @include sm {
      grid-template-areas:
        'p1'
        'p2'
        'p3'
        'p4'
        'p5'
        'p6';
      grid-template-columns: 1fr;
    }
  }
  &__actions {
    display: flex;
    justify-content: center;

    @include sm {
      margin-bottom: 0;
    }
  }
}
.posts-item {
  &__link {
    display: grid;

    height: 100%;

    grid-template-rows: 300px 1fr;
    &:hover {
      .posts-item__content {
        background-color: darken($color: #f2f2f2, $amount: 10%);
      }
      .posts-item__title,
      .posts-item__text {
        color: $color-primary;
      }

      .posts-item__img img {
        transform: scale(1.1, 1.1);
      }
    }
  }
  &__img {
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;

    background-color: $color-primary;
  }
  &__img img {
    width: 100%;
    height: 100%;

    transition: transform 0.5s;

    object-fit: cover;
  }
  &__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    padding: $gap;

    transition: background-color 0.5s;

    background-color: #f2f2f2;
  }
  &__title {
    transition: color 0.5s;
    text-align: center;

    font-family: 'Roboto Slab', serif;
  }
  &__text {
    transition: color 0.5s;
    text-align: center;
    letter-spacing: 0rem;

    color: $color-gray;

    line-height: 1.15;
  }
}
@for $i from 1 through 6 {
  .posts-item:nth-of-type(#{$i}) {
    grid-area: p#{$i};
  }
}
