@use "../../presets/skin" as *;
@use "../../presets/variables" as *;

.header {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
  padding: 150px 0;

  color: $color-light;
  background-color: $color-primary;
  background-image: url(../img/img-header.png);
  background-position: center;
  background-size: cover;
}
