@use "../../presets" as *;
@use "../../mixins" as *;

.header-content {
  position: relative;
  z-index: 1;
  top: 0;

  flex-basis: 100%;

  &__container {
    @extend %container;
  }

  &__title {
    margin-bottom: 53px;

    text-align: center;
  }
  &__acttions {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: $gap;
  }
}
