@use "../../presets" as *;
@use "../../mixins" as *;

.header-content {
  position: relative;
  z-index: 1;

  &__container {
    @extend %container;
  }

  &__title {
    text-align: center;
    margin-bottom: 65px;
  }
  &__acttions {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: $gap;
  }
}
