@use "../../presets" as *;
@use "../../mixins" as *;

.header-navbar {
  letter-spacing: 0.1em;


  &__btn {
    display: none;
  }
  &__list {
    display: flex;

    margin-right: 10px;

    @include unlist;
  }
  &__item {
    margin: $gap $gap-sm;
  }
  &__link {
    display: block;

    padding: $gap $gap-sm;

    font-size: 18px;
    font-weight: 400;
    transition: color 0.5s;
    &:hover  {
      color: $color-accent;
    }
  }
  &__link a {
    color: $color-highlight;
    
  }
}
