@use "../../presets/skin" as *;
@use "../../presets/variables" as *;


.header {
  min-height: 100vh;
  background-color: $color-primary;
  background-image: url(../img/img-header.png);
  background-position: center;
  background-size: cover;
  color: $color-light;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

 }