@use "../presets" as *;
@use "../mixins" as *;

.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0.5em 1em;

  transition: background-color 0.5s;
  letter-spacing: 0.1em;

  font-size: 1.125rem;
  font-weight: 400;
  &--light {
    border: 2px solid $color-light;
    background-color: rgba($color: $color-light, $alpha: 0.1);

    @include lg-min {
      width: 250px;
      height: 60px;
    }
    @include lg {
      font-size: 1rem;
    }
    @include lg-md {
      width: 200px;
      height: 50px;
    }
    @include md {
      width: 170px;
      height: 40px;
    }
  }
  &--primary {
    height: 60px;

    border: 2px solid $color-primary;
    background-color: rgba($color: $color-primary, $alpha: 0.8);

    @include sm-min {
      width: 350px;
    }
    @include sm {
      min-width: 100%;
    }
  }
  &:hover,
  &:focus {
    background-color: $color-accent;
  }
}
