@use "../presets" as *;
@use "../mixins" as *;

.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 250px;
  height: 60px; 

  border: 2px solid $color-light;
  background-color: rgba($color: $color-light, $alpha: 0.1) ;;;
}
