@use "../presets" as *;
*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  overflow-y: scroll;

  font-family: $font-main;
  font-size: $font-size;
}
body {
  letter-spacing: 1px;

  color: $color-gray;
  background-color: $color-light;
}
h1 {
  margin: 0;

  letter-spacing: 0.08em;

  font-family: $font-header;
  font-size: 3.75rem;
  font-weight: 300;
  line-height: 1.2em;
}
h3 {
  margin: 0;
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: 0.1em;
}
a {
  text-decoration: none;

  color: $color-light;
}
