@use '../presets' as *;
@use '../mixins' as *;
*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  overflow-y: scroll;

  font-family: $font-main;
  font-size: $font-size;
}
body {
  letter-spacing: 1px;

  color: $color-gray;
  background-color: $color-light;
}
h1 {
  margin: 0;
  font-family: $font-header;

  font-weight: 300;
  line-height: 1.2em;
  @include lg-min {
    font-size: 3.75rem;
    letter-spacing: 0.08em; // !!!!!!
  }
  @include lg-md {
    font-size: 2.5rem;
    letter-spacing: 0.08em; // !!!!!!
  }
  @include lg {
    font-size: 1.875rem;
    letter-spacing: 0.08em; // !!!!!!
  }
}
h2 {
  letter-spacing: 0.1em;
  line-height: 1.2em;
  color: $color-primary;
  font-weight: bold;
  font-family: $font-header;
  margin-top: 0;
  @include lg-min {
    font-size: 2.5rem;
    margin-bottom: 3rem;
  }
  @include lg-md {
    font-size: 2rem;
    margin-bottom: 2.625rem;
  }
  @include md-sm {
    font-size: 1.5rem;
    margin-bottom: 2.25rem;
  }
  @include sm {
    text-align: center;
    margin-bottom: 2.25rem;
  }
}
h3 {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  @include md-min {
    font-size: 1.25rem;
  }
}
a {
  text-decoration: none;

  color: $color-light;
}
p {
}
