@use "../presets" as *;
*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  overflow-y: scroll;

  font-family: $font-main;
  font-size: $font-size;
}
body {
  letter-spacing: 1px;

  color: $color-gray;
  background-color: $color-light;
}
h1 {
  margin: 0;

  letter-spacing: 4.5px; //!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

  font-family: $font-header;
  font-size: 3.75rem;
  font-weight: 300;
}
a {
  text-decoration: none;

  color: $color-light;
}
